.facts {
    box-sizing: border-box;
    padding: 100px 60px 50px;
    position: relative;
    &-title {
        margin-bottom: 30px;
        font-weight: normal;
        font-size: 35px;
        line-height: 41px;
        text-align: center;
        color: #FFFFFF;
    }
    &-desc {
        margin-top: 40px;
        font-weight: normal;
        font-size: 27px;
        line-height: 32px;
        text-align: center;
        color: #FFFFFF;
    }
    &>.swiper-button-prev,
    .swiper-button-next {
        color: #B78A3F;
    }
    &>.swiper-button-prev {
        left: 10px;
    }
    &>.swiper-button-next {
        right: 10px;
    }
    &>.swiper-pagination {
        width: 100%;
        display: flex;
        justify-content: center;
        &>.swiper-pagination-bullet {
            display: inline-block;
            margin: 40px 40px 0;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            border: 1px solid #B78A3F;
            background: #737373;
            opacity: 1;
            &-active {
                background: #B78A3F;
            }
        }
    }
}